{{include('inc/header.html.twig')}}

<div class="list-group">
  <a href="" class="list-group-item active">Gonderi</a>
  <p class="list-group-item">{{post.title}}</p>
  <p class="list-group-item">{{post.description}}</p>
  <p class="list-group-item"><a href="{{ absolute_url(asset(''))  }}post" class="btn btn-success">Geri</a></p>
</div>